.body_clima{
    display: flex;
    height: 70vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #abbaab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.container__clima{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}

#clima__box1, #clima__box2, #clima__box3{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    padding-top: 20%;
    box-shadow: 2px 2px 8px rgb(247, 142, 142);
    color:white;
    font-size: 2.5vw;
    text-shadow: 1px 1px grey;
}

#clima__box1{
    background: rgb(108, 106, 106);
    
}

#clima__box2{
    background: rgb(205, 140, 224);
}
#clima__box3{
    background: rgb(95, 193, 239);
}

/*---------responsive------------*/

@media  (max-width:420px){

    .body_clima{
        display: block;
        height: auto;
    }
    .container__clima{
        display: block;
        padding: 3vw;
    }

    #clima__box1, #clima__box2, #clima__box3{
        margin: 3vw auto;
        display: block;
        height: 100px;
        padding-top: 10%;
        font-size: 3.5vw;
    }

    #icono__descripcion{
        width: 100px;
        height: 100px;
    }
}