.container__box-contacto{
    display: block;
    width: 100%;
    
   
}

.box__contacto{
    display: block;
    background: rgb(254, 252, 252);
    width: 40%;
    margin:9vh auto;
    box-shadow: 2px 2px 4px grey;
    height: 50vh;
    border-radius: 15px;
}

.text__contacto{
    display: inline-block;
    padding: 8vh 2vw;
    text-align: center;
    font-size: 2.5vw;
    font-family: Indie Flower;
   
    
}

/*--------------responsive-------------*/


@media  (max-width:420px){
    .container__box-contacto{
        height: 60vh;
    }

    .text__contacto{
        display: block;
    font-size: 5vw;
        
    }
    .box__contacto{
        width: 60%;
        height: 35vh;
    }

}